<!DOCTYPE html>
<html>
<head>

<src="bio.html">

<link rel="biosheet" type="text/css" href="bio.css">

p {
  border: 2px solid powderblue;
  padding: 30px;
}

p {
  border: 2px solid powderblue;
  margin: 50px;
}
<html>
